<h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    1.0
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    100.0
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    10.796322557245471
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
