Enter a number

<form action = "/square_root/results">
  <label for "sqroot_input"></label>
  <input id = "sqroot_input" type = "text" name = "user_input" placeholder = "What number do you want to take the square of?">
  <div>
  <button>Calculate square root</button>
  </div>

</form>
