Enter a number

<form action = "/square/results">
  <label for "sq_input"></label>
  <input id = "sq_input" type = "text" name = "user_input" placeholder = "What number do you want to take the square of?">
  <div>
  <button>Calculate square</button>
  </div>

</form>
